.preview {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(min-content, 800px);
  gap: 1rem;
  grid-auto-flow: column;
  position: relative;
  align-items: start;
}

.preview__page {
  padding: var(--fs-4);
  background-color: #f0efeb;
  color: black;

  display: grid;
  grid-auto-rows: max-content;
  gap: 1rem;
  min-height: 900px;
}

.preview__buttons-wrapper {
  display: grid;
  align-content: start;

  grid-template-columns: 1fr;
  gap: 1rem;

  position: sticky;
  top: 2rem;
}

@media screen and (max-width: 1000px) {
  .preview {
    grid-auto-flow: row;
  }

  .preview__buttons-wrapper {
    position: static;

    grid-template-columns: none;
    align-content: normal;

    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
  }
}
