:root {
  --fs-1: 0.75rem;
  --fs-2: 1rem;
  --fs-3: 1.1rem;
  --fs-4: 1.25rem;
  --fs-5: 1.5rem;
  --fs-6: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  background-color: rgb(39, 39, 39);
  color: white;
}
