.confirm-modal__wrapper__modal-wrapper {
  background-color: rgba(255, 255, 255, 0.397);

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.confirm-modal__wrapper__modal-wrapper__modal {
  margin: 0;
  border: 0;
  padding: 1rem;
  background-color: orange;
  transform: translateY(-75%);
}
