.editor-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  font-size: var(--fs-3);

  padding: 1rem 1rem;

  position: relative;
}

.editor-section__label span {
  font-weight: bold;
}

.editor-section::after {
  position: absolute;
  left: 0;
  content: '';
  background-color: var(--color-5);

  width: 3px;
  border-radius: 50px;

  top: 1rem;
  height: calc(100% - 2rem);
}

.editor-section__label--element {
  display: grid;
  gap: 2px;
}

.editor-section__label--regular {
  display: grid;
  grid-template-rows: max-content 1.9rem;

  position: relative;
}

.editor-section__label--regular input {
  padding-left: 8px;
  background-color: var(--color-2);
  border: none;
  border-radius: 3px;
  font-size: var(--fs-2);
}

.editor-section__label--regular input::placeholder {
  opacity: 0;
}

.editor-section__label--regular input:disabled::placeholder {
  opacity: 1;
  font-style: italic;
}

.editor-section__label--checkbox {
  display: grid;
  grid-template-columns: max-content 1.5rem;
  grid-auto-rows: 1.5rem;
  gap: 4px;
  justify-content: center;
  align-content: center;
}

.editor-section__label--checkbox span {
  align-self: center;
}

.editor-section__label--checkbox input {
  border: none;
  appearance: none;
  font: inherit;
  margin: 0;

  display: grid;
  place-content: center;

  background-color: rgb(197, 197, 197);
  border-radius: 3px;
}

.editor-section__label--checkbox input::after {
  content: '';
  height: 1em;
  width: 1em;
  border-radius: 3px;
  transform: scale(0);

  box-shadow: inset 1em 1em var(--color-6);
  clip-path: polygon(8% 50%, 0 65%, 50% 100%, 100% 10%, 85% 0%, 44% 75%);
}

.editor-section__label--checkbox input:checked::after {
  transform: scale(1);
}

.editor-section__label--width-2 {
  grid-column: span 2;
}

.editor-section__label--width-1 {
  grid-column: span 1;
}

.editor-section__label--column-1 {
  grid-column: 1;
}
.editor-section__label--column-2 {
  grid-column: 2;
}
