.editor {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(min-content, 800px);
  gap: 1rem;
  grid-template-areas:
    'general buttons'
    'experience buttons'
    'education buttons';
  position: relative;
  align-items: start;
}

.editor__buttons-wrapper {
  grid-area: buttons;
  display: grid;
  align-content: start;

  grid-template-columns: 1fr;
  gap: 1rem;

  position: sticky;
  top: 2rem;
}

@media screen and (max-width: 1000px) {
  .editor {
    grid-template-areas: none;
    justify-content: initial;
    grid-template-columns: 1fr;
  }

  .editor__buttons-wrapper {
    grid-area: initial;
    position: static;

    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
