.education-editor {
  background-color: #88d498;

  display: grid;
}

.education-editor__section {
  display: grid;
  grid-template-columns: 1fr;
}

.education-editor__section__remove {
  justify-self: center;
}
