.experience-editor {
  display: grid;
}

.experience-editor__wrapper {
  display: grid;
  gap: 5px;
}

.experience-editor__wrapper--hidden {
  display: none;
}

.experience-editor__wrapper__section {
  display: grid;
  grid-template-columns: 1fr;
}

.experience-editor__wrapper__section__remove {
  justify-self: center;
}
