.experience-editor {
  background-color: #88d498;
  display: grid;
}

.experience-editor__section {
  display: grid;
  grid-template-columns: 1fr;
}

.experience-editor__section__remove {
  justify-self: center;
}
