.general-editor {
  background-color: #88d498;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.general-editor__header,
.general-editor__email,
.general-editor__phone {
  grid-column: span 2;
}
